.App {
  text-align: center;
  
}
.home {
  height: 93vh;
  background-color: black;
}
.header {
  height : 9vh;
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;

}
.navAll{
  display: flex;
  justify-content: space-between;
  width: 90vw;
}
.me-auto{
  display:flex;
  justify-content: space-around;
  align-items: center;  
}
.navIntern{
  width: 35vw;
  
}
.navIntern > *{
  color: white;
  text-decoration: none;
}
.navIntern > *:hover{
  color: rgb(241, 217, 186);

  
}
.navExtern{
  width: 30vw; 
}
.socialMedia{
  width: 11vw;
  display: flex;
  justify-content:space-between;
}


